body{
    text-align: center;
    background-color: white;
}

.container{
    display: flex;
    height: 550px;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.btn{
    border: 10px solid black;
    border-radius: 30px;
    width: 200px;
    height: 200px;
}

.btn:active{
    background-color: aliceblue;
}

#red{
    background-color: #d95980;
}

#green{
    background-color: #63aac0;
}

#yellow{
    background-color: #f99b45;
}

#blue{
    background-color: #819ff9;
}

.flash{
    background-color: white !important;
}